{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set allsections = craft.sitemap.getAllSections() %}

{% set myStyles %}
    .sitemap {
        border-spacing: 0;
        width: 80%;
        margin: 0 auto;
    }

    .sitemap tr:nth-child(even) {
        background-color: #ededed;
    }

    .sitemap th, .sitemap td {
        vertical-align: middle;
    }

    .sitemap th {
        font-size: 1.1em;
        padding: 30px 20px !important;
    }

    .sitemap td {
        padding-left: 5px; !important
    }

    .btns-container {
        padding: 40px !important;
        background-color: #ffffff;
    }

    input[type=number] {
        width: 80px;
        text-align: center;
    }

    th h3 {
        text-align: center;
    }

    @media screen and (max-width: 835px) {
        .sitemap {
            width: 100%;
        }
        .hide1 {
            display: none;
        }
    }

    @media screen and (max-width: 560px) {
        .hide {
            display: none;
        }
        .pane {
            padding: 0 !important;
        }
        .btns-container {
            text-align: center !important;
        }
    }
{% endset %}

{% includeCss myStyles %}

{% set title = "Sitemap Configuration"|t %}

{% set content %}
<form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="sitemap/saveSections">

    <table id="sitemap" class="sitemap data">
        <thead>
            <tr class="centeralign">
                <th>Inc<span class="hide">lude</span></th>
                <th>Section</th>
                <th class="hide">Entries</th>
                <th class="hide1">URL Format</th>
                <th><span class="hide1">Change</span> Freq<span class="hide">uency</span></th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
        {% set sections = craft.sections.getAllSections() %}
        {% set cnt = 0 %}
        {% for section in sections %}
            {% set sect = craft.sitemap.getSectionById(section.id) %}
            {% if section.type != 'structure' and section.urlformat is not empty %}
                <tr>
                    <td class="centeralign">
                        {{ forms.hidden({
                            name: 'sections['~cnt~'][id]',
                            value: sect.id is empty ? '' : sect.id
                        }) }}

                        {{ forms.hidden({
                            name: 'sections['~cnt~'][sectionId]',
                            value: section.id
                        }) }}

                        {{ forms.hidden({
                            name: 'sections['~cnt~'][ping_date]',
                            value: sect.ping_date is empty ? '' : sect.ping_date|date('Y-m-d H:i:s')
                        }) }}

                        {{ forms.checkbox({
                            name: 'sections['~cnt~'][included]',
                            checked: sect.included is empty ? null : (sect.included ? 'checked' : null),
                            value: 1
                        }) }}
                    </td>
                    <td>{{ section.name }}</td>
                    <td class="hide centeralign">{{ craft.entries.section(section)|length }}</td>
                    <td class="hide1">{{ (section.isHomepage() ? '<span data-icon="home" title="Homepage"></span>' : section.urlformat)|raw  }}</td>
                    <td class="centeralign">
                        {{ forms.select({
                            name: 'sections['~cnt~'][frequency]',
                            value: sect.frequency is empty ? 'weekly' : sect.frequency,
                            options: [
                                {label: 'Always', value: 'always'},
                                {label: 'Hourly', value: 'hourly'},
                                {label: 'Daily', value: 'daily'},
                                {label: 'Weekly', value: 'weekly'},
                                {label: 'Monthly', value: 'monthly'},
                                {label: 'Yearly', value: 'yearly'},
                                {label: 'Never', value: 'never'}
                            ]
                        }) }}
                    </td>
                    <td class="centeralign">
                        {{ forms.select({
                            name: 'sections['~cnt~'][priority]',
                            value: sect.priority is empty ? '0.5' : sect.priority,
                            options: [
                                {label: '0.0', value: '0.0'},
                                {label: '0.1', value: '0.1'},
                                {label: '0.2', value: '0.2'},
                                {label: '0.3', value: '0.3'},
                                {label: '0.4', value: '0.4'},
                                {label: '0.5', value: '0.5'},
                                {label: '0.6', value: '0.6'},
                                {label: '0.7', value: '0.7'},
                                {label: '0.8', value: '0.8'},
                                {label: '0.9', value: '0.9'},
                                {label: '1.0', value: '1.0'}
                            ]
                        }) }}
                    </td>
                </tr>
            {% set cnt = cnt + 1 %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7">
                    {% set ping_date = craft.sitemap.getLastPingDate() %}
                    {% if ping_date is not null %}
                        {% if ping_date is not empty %}
                            <h3>Search Engines were last pinged on {{ ping_date.date }} at {{ ping_date.time }}</h3>
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
            <tr>
                <td colspan="7" class="btns-container">
                    <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
                    <button class="btn submit ping">{{ 'Save & Ping'|t }}</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>

{% endset %}

{% set myJs %}
    $('.ping').on('click', function(e) {
        $(this).closest('form').find('input[name=action]').val('sitemap/pingSections');

    });

    new Craft.AdminTable({
        tableSelector: '#sitemap'
    });
{% endset %}

{% includeJs myJs %}