{% extends "_layouts/cp" %}

{% set allsections = craft.sitemap.getAllSections() %}

{% set myStyles %}
    .sitemap {
        border-spacing: 0;
        width: 80%;
        margin: 0 auto;
    }

    .sitemap tr:nth-child(even) {
        background-color: #ededed;
    }

    .sitemap th, .sitemap td {
        vertical-align: middle;
        padding: 30px 20px !important;
    }

    .sitemap th {
        font-size: 1.1em;
        border-bottom: 1px solid #e0e0e0;
    }

    .sitemap td {
        padding: 25px 20px !important;
    }

    input[type=number] {
        width: 80px;
        text-align: center;
    }

    th h3 {
        text-align: center;
    }

{% endset %}

{% includeCss myStyles %}

{% set title = "Sitemap Configuration"|t %}

{% set content %}
<form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="sitemap/saveSections">

    <table class="sitemap">
        <thead>
            <tr>
                <th>Include</th>
                <th>Section</th>
                <th>Entries</th>
                <th>URL Format</th>
                <th>Change Frequency</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
        {% set sections = allsections is empty ? craft.sections.getEditableSections() : allsections %}
        {% set cnt = 0 %}
        {% for sect in sections %}
            {% set section = craft.sections.getSectionById(allsections is empty ? sect.id : sect.sectionId) %}
            {% if section.type != 'structure' and section.urlformat is not empty %}
                <tr>
                    <td>
                        <input type="hidden" name="sections[{{cnt}}][id]" value="{{ allsections is empty ? '' : sect.id }}">
                        <input type="hidden" name="sections[{{cnt}}][sectionId]" value="{{ section.id }}">
                        <input type="hidden" name="sections[{{cnt}}][ping_date]" value="{{ allsections is empty ? '' : sect.ping_date }}">
                        <input type="checkbox" name="sections[{{cnt}}][included]" {{ allsections is empty ? '' : (sect.included ? 'checked' : '') }} value="1">
                    </td>
                    <td>{{ section.name }}</td>
                    <td>{{ craft.entries.section(section)|length }}</td>
                    <td>{{ (section.isHomepage() ? '<span data-icon="home" title="Homepage"></span>' : section.urlformat)|raw  }}</td>
                    <td>
                        <select name="sections[{{cnt}}][frequency]">
                            {% set freq = allsections is empty ? '' : sect.frequency %}
                            <option {{ freq == 'always' ? 'selected' : '' }} value="always">Always</option>
                            <option {{ freq == 'hourly' ? 'selected' : '' }} value="hourly">Hourly</option>
                            <option {{ freq == 'daily' ? 'selected' : '' }} value="daily">Daily</option>
                            <option {{ freq == 'weekly' or freq is empty ? 'selected' : '' }} value="weekly">Weekly</option>
                            <option {{ freq == 'monthly' ? 'selected' : '' }} value="monthly">Monthly</option>
                            <option {{ freq == 'yearly' ? 'selected' : '' }} value="yearly">Yearly</option>
                            <option {{ freq == 'never' ? 'selected' : '' }} value="never">Never</option>
                        </select>
                    </td>
                    <td>
                        <select name="sections[{{cnt}}][priority]">
                            {% set nums = [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0] %}
                            {% for n in nums %}
                                <option {{ allsections is not empty and n == sect.priority or n == 0.5 ? 'selected' : '' }} value="{{ n }}">{{ n }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% set cnt = cnt + 1 %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7">
                    <br/>
                    {% set ping_date = craft.sitemap.getLastPingDate() %}
                    {% if ping_date is not empty %}
                        <h3>Search Engines were last pinged on {{ ping_date.date }} at {{ ping_date.time }}</h3>
                    {% endif %}
                </th>
            </tr>
            <tr>
                <td colspan="7">
                    <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
                    <button class="btn submit ping">{{ 'Save and Ping'|t }}</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>

{% endset %}

{% set myJs %}
    $('.ping').on('click', function(e) {
        $(this).closest('form').find('input[name=action]').val('sitemap/pingSections');

    });
{% endset %}

{% includeJs myJs %}